:root {
    --ff-primary: "Poppins", sans-serif;
    --clr-primary: #0c0c0c;
    --clr-secundary: #dddddd;
    --clr-tertiary: #909090;
    --clr-dark: #131313;
    --clr-orange: #D2691EFF;
    --clr-green: #1ACF78;
    --clr-blue: #1E90FFFF;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
    --d: 2500ms;
    --angle: 90deg;
}

body {
    display: flex;
    padding: 20px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--clr-primary);
    color: var(--clr-secundary);
    font-family: var(--ff-primary);
    font-weight: 200;
}

/*  ANIMATED  */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 22em;
    }
}

@keyframes cursor {
    from {
        border-right: 3px solid var(--clr-secundary);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: false;
}

.animated-cursor {
    border-right: 3px solid var(--clr-secundary);
    width: 0;
    overflow: hidden;
    animation: typing 2s 2s steps(9) both, cursor 500ms steps(3) infinite both;
}

/*  MAIN CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3.1em;
    width: 100%;
}

.menu-toggle {
    position: absolute;
    top: 0;
    left: -61%;
    list-style: none;
    background: var(--clr-secundary);
    padding: 20px;
    height: 100%;
    z-index: 10;
    min-width: 60%;
    border: thin solid #FFFFFF0F;
    display: none;
    box-shadow: 0 0 10px 5px rgba(10, 10, 10, 0.7);
    transition: 0.3s;
}

.fa-x {
    margin-bottom: 3em;
    background: none;
    color: var(--clr-primary);
    font-size: 28px;
}

.social-toggle {
    background: var(--clr-secundary);
    border-radius: 6px;
}

.item-toggle {
    background: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
}

.about-toggle {
    background: none;
    border-top: thin solid rgba(10, 10, 10, 0.57);
    margin-top: 3em;
}

.about-toggle .item-toggle a {
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-primary);
}

.social-toggle .item-toggle a {
    color: var(--clr-primary);
}

.item-toggle > a {
    text-decoration: none;
    background: none;
}

.about-toggle .item-toggle a:hover {
    letter-spacing: 1px;
    transition: 0.2s;
}

/*   HEADER NAV   */
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: calc(100vh - 40px);
}

.logo > img {
    box-sizing: content-box;
    background: var(--clr-secundary);
    display: flex;
    border-radius: 6px;
    padding: 10px;
    max-width: 28px;
    margin: 0 auto;
}

.nav-social {
    display: flex;
    height: 10em;
    justify-content: space-between;
}

.menu-about, .menu-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.menu-social .item-social, .menu-about .item-social {
    position: relative;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.item-social .tooltip {
    position: absolute;
    white-space: nowrap;
    padding: 0.65em;
    border-radius: 6px;
    left: 4em;
    background: var(--clr-dark);;
    color: var(--clr-secundary);
    font-weight: 400;
    font-size: 14px;
    visibility: hidden;
    z-index: 9;
}

.item-social .tooltip::after {
    content: "";
    position: absolute;
    top: calc(25% + 5px);
    left: -1.6em;
    border-width: 6px;
    border-style: solid;
    border-color: transparent var(--clr-dark) transparent transparent;
    visibility: hidden;
}

.item-social:hover .tooltip, .item-social:hover .tooltip::after {
    transform: translateX(10px);
    transition: 0.2s;
    visibility: initial;
}

.fa {
    box-sizing: content-box;
    font-size: 28px;
    color: var(--clr-secundary);
    padding: 0 10px 0 10px;
    max-width: 28px;
    margin: 0 0;
    opacity: 0.6;
}

.fa-bars {
    /*box-sizing: content-box;*/
    font-size: 28px;
    color: var(--clr-secundary);
    opacity: 0.6;
    position: absolute;
}

.fa-bars:hover, .fa:hover, .fa-x:hover {
    opacity: 1 !important;
}

/*  CONTENT PROJECT */
.content {
    padding: 0 32px 48px 32px;
    max-width: 75em;
    margin: 10em auto 0 auto;
}

.title-content {
    font-size: 3.75em;
    font-weight: 500;
    color: var(--clr-secundary);
    white-space: nowrap;
}

.header-description {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    word-spacing: 5px;
    margin: 16px 0;
    color: var(--clr-tertiary);
}

.project-container {
    margin-top: 5em;
}

.header-project {
    display: flex;
    align-items: center;
}

.fa-terminal {
    color: var(--clr-secundary);
    opacity: 0.6;
    font-size: 35px;
    padding: 10px 20px 10px 0;
}

.title-project {
    color: var(--clr-secundary);
    font-size: 2.2em;
    font-weight: 400;
}

.project {
    width: calc(33.33% - 0.5em);
    padding: 1em;
    background: var(--clr-dark);;
    border: 1px solid #FFFFFF0F;
    overflow: hidden;
    margin-top: 2em;
}

.img-cropper {
    width: 100%;
    overflow: hidden;
}

.img-cropper > img {
    display: block;
    width: 100%;
    opacity: 0.5;
}

.toolbar-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    background: none;
}

.fa-circle {
    font-size: 8px;
    padding-left: 3px;
}

.pendent {
    color: var(--clr-orange);
}

.concluded {
    color: var(--clr-green);
}

.production {
    color: var(--clr-blue);
}

.status {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 3px;
}

.tools-develop {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1em 0;
    background: none;
}

.tools-develop > .fa-brands {
    display: flex;
    padding: 5px;
    background: none;
}

.project:hover {
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite;
}

.footer-project {
    background: var(--clr-dark);
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.name-project {
    font-weight: 300;
    font-size: 24px;
    color: var(--clr-secundary);
    background: var(--clr-dark);
}

.description-project {
    background: var(--clr-dark);
    color: var(--clr-tertiary);
}

.btn-project {
    box-sizing: content-box;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 10px;
    max-width: 9em;
    background: var(--clr-secundary);
    text-decoration: none;
    margin-top: 2em;
}

.text-btn {
    background-color: var(--clr-secundary);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-dark);;
    width: 100%;
    padding: 0;
    margin: 0;
}

.fa-github {
    display: flex;
    border-radius: 50%;
    background: var(--clr-secundary);
    color: var(--clr-dark);;
    padding: 2px;
    margin: 0;
    opacity: 1;
}

.fa-bars {
    display: none;
}

.btn-project:hover {
    background: var(--clr-green);

    .text-btn {
        background-color: var(--clr-green);
        color: var(--clr-secundary);
    }

    .fa-github {
        color: var(--clr-secundary);
        background: var(--clr-green);
    }
}

.section-project {
    display: flex;
    margin-top: 0.5em;
    padding-top: 3.6em;
    border-top: 1px solid #FFFFFF0F;
    align-items: center;
    /*justify-content: space-between;*/
    max-width: 74em;
    flex-wrap: wrap;
    gap: 0.5em;
}

/* Esta regra será aplicada para larguras de tela até 1200px */
@media screen and (max-width: 1200px) {
    .section-project {
        flex-wrap: wrap;
    }

    .project {
        width: calc(50% - 1em);
    }
}

/* Esta regra será aplicada para larguras de tela até 979px */
@media screen and (max-width: 979px) {
    .main-header {
    }

    .title-project {
        font-weight: 300;
        font-size: 24px;
    }

    .title-content {
        font-size: 2.3em;
        font-weight: 500;
        border-right: 1px;
    }

    .fa-terminal {
        font-size: 25px;
    }

    @keyframes typing {
        to {
            width: 14em;
        }
    }

    @keyframes cursor {
        from {
            border-right: 1px solid var(--clr-secundary);
        }
    }
}

/* Esta regra será aplicada para larguras de tela até 767px */
@media screen and (max-width: 767px) {
    .project {
        width: 100%
    }

    .btn-project {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Esta regra será aplicada para larguras de tela até 480px */
@media screen and (max-width: 520px) {
    .main-header {
        display: none;
    }

    .main-container {
        margin: 0;
    }

    .content {
        padding: 0;
        max-width: 100%;
    }

    .title-content {
        font-size: 1.8em;
        font-weight: normal;
    }

    @keyframes typing {
        to {
            width: 11em;
        }
    }

    .title-project {
        font-size: 1.5em;
        font-weight: 300;
    }

    .content {
        margin-top: 6em;
    }

    .fa-bars {
        display: block;
        font-size: 2em;
    }

    .name-project {
        font-weight: 200;
        font-size: 18px;
    }

    .description-project {
        font-weight: 200;
        font-size: 15px;
    }

    .text-btn {
        font-size: 16px;
        font-weight: 300;
    }

    .fa-github {
        font-size: 24px;
    }
}